Body{background-color: bisque;}



h1{color:black;
text-align: center;
font: size 72px;
font-weight: bold;
font-style:italic ;
text-decoration: underline;}


li{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
